:root{--primary:linear-gradient(135deg,#667eea,#764ba2)}
*{box-sizing:border-box}
body{
  margin:0;
  min-height:100vh;
  background:var(--primary);
  font-family:Inter,system-ui,sans-serif;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  padding:20px;
}
.card{
  width:100%;
  max-width:700px;
  background:#fff;
  border-radius:18px;
  padding:26px;
  box-shadow:0 20px 40px rgba(0,0,0,.1);
}
h1{text-align:center;margin:0;font-size:24px}
.subtitle{text-align:center;color:#6b7280;font-size:14px;margin-bottom:16px}
textarea,input,select{
  width:100%;
  padding:12px 14px;
  border-radius:12px;
  border:1px solid #e5e7eb;
  font-size:14px;
  margin-top:10px;
  font-family: monospace;
}
.buttons{
  display:flex;
  gap:2%;
  margin-top:14px;
}
button{
  padding:12px;
  border:none;
  font-weight:600;
  cursor:pointer;
  border-radius:8px;
  transition: all 0.2s ease;
}
button:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}
.resetBtn{width:30%; background:#ef4444; color:#fff;}
.parseBtn{width:68%; background:#10b981; color:#fff;}
.optionalBtn{width:100%; background:#a2a2a3; color:#fff;}
.copyBtn{
  margin-top:10px;
  width:100%;
  background:var(--primary);
  color:#fff;
  border-radius:8px;
}
#advancedOptions{
  margin-top:12px;
  display:none;
  flex-direction:column;
  gap:12px;
  padding: 0 12px 12px;
  border:1px solid #e5e7eb;
  border-radius:12px;
}
.toggleWrapper{
  display:flex;
  align-items:center;
  justify-content: center;
  gap:20px;
  font-size:14px;
  flex-wrap:wrap;
}
.toggleWrapper label{
  text-align:center;
  align-items:center;
  flex-grow: 2;
  cursor:pointer;
}
.toggleWrapper input[type="radio"]{
  margin-right:6px;
}
.prismOptions{
  display:flex;
  align-items:center;
  gap:20px;
  font-size:14px;
  flex-wrap:wrap;
}
.prismOptions label{
  display:flex;
  align-items:center;
  cursor:pointer;
  flex-grow: 2;
}
.prismOptions select{
  margin-left:6px;
  padding:4px 6px;
  border-radius:6px;
  border:1px solid #ccc;
}
#embedCode{margin-top:16px;resize:none;}
.toast{
  position:fixed;
  bottom:30px;
  right:30px;
  background:#111827;
  color:#fff;
  padding:14px 18px;
  border-radius:12px;
  opacity:0;
  transform:translateY(20px);
  transition:.3s;
}
.toast.show{opacity:1;transform:translateY(0)}
.footer{
  margin-top:18px;
  color:#e5e7eb;
  font-size:13px;
  display:flex;
  gap:8px;
  align-items:center;
}
.footer a{color:#fff;font-weight:600;text-decoration:none}
.logo{
  width:20px;height:20px;
  background:#fff;
  color:#6f6ccf;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
  font-weight:700;
}
input.input-30{width:10%;align-items: center;margin-top:5px}
code{color:#d52d00}