	@media screen and (min-width:768px){
::-webkit-scrollbar{-webkit-appearance:none;width:8px;height:5px}::-webkit-scrollbar-track{background:transparent}::-webkit-scrollbar-thumb{background:rgba(0,0,0,.15);border-radius:10px}::-webkit-scrollbar-thumb:hover{background:rgba(0,0,0,.35)}::-webkit-scrollbar-thumb:active{background:rgba(0,0,0,.35)}
}
footer{background:#1b1b27;color:#72727f}
footer a{color:#afafbf;text-decoration:none}

.loading{left:40px;top:20px;position:absolute;}
.container {position:relative;}
#feed-list-container{position:relative;min-height:250px}

.toTopB.vsbl {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.toTopB {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    transform: scale(0);
    transition: transform .3s ease, opacity .3s ease,visibility .3s ease,margin-bottom 1s ease;
}
.toTopB svg .b {
    fill: #fff;
    stroke: #e6e6e6;
    opacity: .9;
}
.toTopB svg .c {
    fill: none;
    stroke: #482dff;
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
	display:none
}
.toTopB svg .d {
    fill: none;
    stroke: #08102b;
}
svg.line, svg .line {
    fill: none!important;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1;
}

element.style {
}
.toTopB svg {
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    stroke-width: 1.5;
    cursor: pointer;
}
#ScrollToTop{display:none}
.notes{background:#fff;padding:15px}
.notes1{background:#fff;padding:10px}
.notes ul li{line-height:1.6em;margin-bottom:8px;}
input[type=text]:hover {border-color:#1c3659}
input[type=text]{background:#fff;width:auto;display:inline-block;padding:8px 16px;border-radius:7px;border:1px solid #91969d;font-family:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
    @media screen and (max-width:640px){.widget input[type=text]{display:block;width:100%}}

.link-generate {font-family: 'Roboto Condensed', sans-serif;}
.title {font-size: 1.4em;margin: 15px 0 10px;}
.sub {font-size: 0.6em;color: #444;vertical-align: middle;}
.sub a{color: #444;text-decoration:none}
#input, #output {font-size: .9em;display:block;width:100%;padding: 8px 13px;border: 1px solid #b5b5b5;border-radius: 3px;}
#help-text {font-weight: 600;margin: 10px;}
.instr{background:#1a3c3b}

.img-center{text-align:center;margin:0 auto;}
.img-left{clear:left;float:left;margin-bottom:1em;margin-right:1em;text-align:left;}
.img-right{clear:right;float:right;margin-bottom:1em;margin-left:1em;text-align:right;}
.img-border {border:1px solid #ddd}
.img-200,.img-300,.img-400,.img-500,.img-600{width:100%;text-align:center;clear:both}
.img-200{max-width:200px;}
.img-300{max-width:300px;}
.img-400{max-width:400px;}
.img-500{max-width:500px;}
.img-600{max-width:600px;}
.img-caption{display: block;margin-top: 5px;font-size: small;line-height: 1.3;opacity: .6;font-style:italic}
@media screen and (max-width:640px){
.img-500.img-left,.img-500.img-right,.img-600.img-left,.img-600.img-right{clear:both;float:none;margin:1em auto;text-align:center;}
}
@media screen and (max-width:414px){
.img-200.img-left,.img-200.img-right,.img-300.img-left,.img-300.img-right,.img-400.img-left,.img-400.img-right{clear:both;float:none;margin:1em auto;text-align:center;}
}